
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/login.png" height="100%" width="100%">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="Username" class="form-label">Username </label>
            <textarea class="form-control" id="username" rows="3"></textarea>
            
          </div>
          <select class="role" aria-label="role">
            <option selected> Role </option>
            <option value="1">Admin</option>
            <option value="2">User</option>
            <option value="3">Guest</option>
          </select>
    </div>
</div>
 